.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: clamp(1em, 1vw, 1.5em);
  font-weight: bolder;
  padding: 10px;
  gap: 20px;
  color: var(--primary-weak-text-color);
  border: 1px solid var(--primary-weak-text-color);
  border-radius: 10px;
  box-shadow: 2px 2px 2px var(--primary-weak-text-color);
  text-align: justify;
}

.card_img {
  width: 100%;
}

.card_title {
  font-size: clamp(1em, 1vw, 1.5em);
}

.card_text_content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
}

.card_vote_average {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  font-size: clamp(1.2em, 3vw, 1.5em);
}

.card_vote_average > span {
  font-size: clamp(1.2em, 3vw, 1.5em);
}

.card_info {
  font-weight: bolder;
  text-transform: uppercase;
}

.card_genres {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

div.card_genre_chip {
  background-color: var(--primary-strong-text-color);
  color: var(--primary-strong-color);
  border: 1px solid var(--primary-strong-color);
}

@media (orientation: landscape) and (min-width: 700px) {
  .card_text_content {
    justify-content: space-between;
  }
}

@media (pointer: fine) {
  .card_img:hover {
    cursor: pointer;
  }
  .card_title:hover {
    color: var(--primary-weak-text-hover);
    cursor: pointer;
  }

  div.card_genre_chip:hover {
    background-color: transparent;
    color: var(--primary-strong-color);
    border: 1px solid var(--primary-strong-color);
    cursor: pointer;
  }
}
